[Desktop Entry]
Type=Application
Name=Google Chrome
Comment=Browse the web with Google Chrome
Exec=/usr/local/bin/omb-chrome
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
